<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>study</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>asd</servlet-name>
    <servlet-class>com.detu.study.studyServletDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>asd</servlet-name>
    <url-pattern>/studing</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login1</servlet-name>
    <servlet-class>com.detu.study.Login1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login1</servlet-name>
    <url-pattern>/Login1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reg</servlet-name>
    <servlet-class>com.detu.study.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reg</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.detu.study.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CookieServlet</servlet-name>
    <servlet-class>com.detu.study.CookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieServlet</servlet-name>
    <url-pattern>/cookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductListServlet</servlet-name>
    <servlet-class>com.detu.web.ProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListServlet</servlet-name>
    <url-pattern>/productList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TransferServlet</servlet-name>
    <servlet-class>com.detu.web.TransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferServlet</servlet-name>
    <url-pattern>/transfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProductListServlet</display-name>
    <servlet-name>AdminProductListServlet</servlet-name>
    <servlet-class>com.detu.web.AdminProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductListServlet</servlet-name>
    <url-pattern>/adminProductList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddProductUIServlet</display-name>
    <servlet-name>AdminAddProductUIServlet</servlet-name>
    <servlet-class>com.detu.web.AdminAddProductUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddProductUIServlet</servlet-name>
    <url-pattern>/adminAddProductUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddProductServlet</display-name>
    <servlet-name>AdminAddProductServlet</servlet-name>
    <servlet-class>com.detu.web.AdminAddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddProductServlet</servlet-name>
    <url-pattern>/adminAddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDelProductServlet</display-name>
    <servlet-name>AdminDelProductServlet</servlet-name>
    <servlet-class>com.detu.web.AdminDelProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelProductServlet</servlet-name>
    <url-pattern>/adminDelProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDelMoreProductServlet</display-name>
    <servlet-name>AdminDelMoreProductServlet</servlet-name>
    <servlet-class>com.detu.web.AdminDelMoreProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelMoreProductServlet</servlet-name>
    <url-pattern>/adminDelMoreProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateProductUIServlet</display-name>
    <servlet-name>AdminUpdateProductUIServlet</servlet-name>
    <servlet-class>com.detu.web.AdminUpdateProductUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateProductUIServlet</servlet-name>
    <url-pattern>/adminUpdateProductUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateProductServlet</display-name>
    <servlet-name>AdminUpdateProductServlet</servlet-name>
    <servlet-class>com.detu.web.AdminUpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateProductServlet</servlet-name>
    <url-pattern>/adminUpdateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSearchProductListServlet</display-name>
    <servlet-name>AdminSearchProductListServlet</servlet-name>
    <servlet-class>com.detu.web.AdminSearchProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchProductListServlet</servlet-name>
    <url-pattern>/adminSearchProductList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUsername</display-name>
    <servlet-name>CheckUsername</servlet-name>
    <servlet-class>com.detu.web.CheckUsername</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUsername</servlet-name>
    <url-pattern>/checkUsername</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchWordServlet</display-name>
    <servlet-name>SearchWordServlet</servlet-name>
    <servlet-class>com.detu.web.SearchWordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchWordServlet</servlet-name>
    <url-pattern>/searchWord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignIn</display-name>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>com.detu.web.SignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/signIn</url-pattern>
  </servlet-mapping>
  <filter>
  	<filter-name>MyFilter</filter-name>
  	<filter-class>com.detu.web.MyFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>MyFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>